            <h1>
[% FOREACH i IN ['A' .. 'Z'] %]
    [% IF i == letter %]
                <b>[% i %]</b>
    [% ELSE %]
                <a href="/?letter=[% i %]" class="button" style="border: 1px solid #bbb;">[% i %]</a>
    [% END %]
[% END %]
            </h1>
