        <div id="header">
                <h1 style="padding-top: 10px;"><a href="/" style="text-decoration: none;">[% settings.appname %]</a></h1>
                <form action="/search" method="post">
                    <input type="text" name="search_text" />
                    <input type="submit" name="search" value="Search" />
                </form>
        </div>
