<div id="page">

    <div id="content">

        <div id="header">
            <h1><a href="/">[% page_title %]</a></h1>
        </div>

        <div id="foods">
[% INCLUDE 'alpha.tt' %]

            <ol>
[% FOREACH key IN results.keys.sort %]
            <li>
                <a href="/food?id=[% results.$key.id %]">[% results.$key.food %]</a>
            </li>
[% END %]
            </ol>
        </div>

    </div>

</div>
